# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*] # apply all
indent_style = space # kiểu thụt vào đầu dòng (space => nên chọn, tab)
indent_size = 4 # hiểu đó là số cột muốn thụt vào đầu dòng
end_of_line = lf # kiểu xuống dòng
charset = utf-8 # kiểu encoding
trim_trailing_whitespace = true # loại bỏ các khoảng trẳng dư thừa ở cuối dòng (nên dùng để clean code)
insert_final_newline = false # tạo ra 1 dòng trống ở cuối file (nên dùng cho dễ đọc code)

[*.html] # apply only html
indent_size = 4

[*.css] # apply only css
indent_size = 4

[*.scss] # apply only scss
indent_size = 4

[*.js] # apply only javascript
indent_size = 4
quote_type = single
brace_style = stroud
max_line_length = 100

[*.jsx] # apply only jsx
indent_size = 4
quote_type = single
brace_style = stroud
max_line_length = 100

[*.ts] # apply only typescript
indent_size = 4
quote_type = single
brace_style = stroud
max_line_length = 100

[*.tsx] # apply only tsx
indent_size = 2
quote_type = single
brace_style = stroud
max_line_length = 100

[*.vue] # apply only vue js
indent_size = 2
quote_type = single
brace_style = stroud
max_line_length = 100

[*.md] # apply only md
max_line_length = 0
trim_trailing_whitespace = false
